.header{
    background-color: lightblue;
    height: 100px;
}

.content{
    background-color: lightgray;
    height: 250px;
}

.sign-up{
    background-color: lightskyblue;
    height: 100px;
}

.feature-one{
    background-color: lightcoral ;
    height: 100px;
}

.feature-two{
    background-color: lightseagreen;
    height: 100px;
}

.feature-three{
    background-color: lightgreen ;
    height: 100px;
}

@media only screen and (min-width: 678px) {
    .wrapper{
        display: flex;
        flex-wrap: wrap;
    }
    .content{
        flex-basis: 100%;
    }
    .wrapper> *:not(.content){
        flex-basis: 50%;
    }
}

@media only screen and (min-width: 1200px){
    .content,
    .sign-up{
        flex-basis: 100% !important;
    }
    .feature-one,
    .feature-two,
    .feature-three{
        flex-basis: calc(100%/3) !important
    }
    .feature-one{
        order: 1;
    }

    .feature-two{
        order: 3;
    }

    .feature-three{
        order: 2;
    }

    .sign-up{
        order: 5;
    }

    .content{
        order:6;
    }
}